{{!-- 
<section id="add" class="container">
    <div class="form-wrap">
      <h1>Add an Item!</h1>
      <p>Let People Know What You Have!</p>
      <form action="/gigs/add" method="POST">
        <div class="input-group">
          <label for="title">Item</label>
          <input type="text" name="title" id="title" class="input-box" placeholder="What are you selling?"
            maxlength="100" value={{title}}>
        </div>
        <div class="input-group">
          <label for="location">Location</label>
          <input type="text" name="technologies" id="technologies" class="input-box" placeholder="Where are you located?"
          maxlength="100" value={{technologies}}>
        </div>
        <div class="input-group">
          <label for="price">Price</label>
          <input type="number" name="budget" id="budget" class="input-box" placeholder="$$$" value={{budget}}>
        </div>
        <div class="input-group">
          <label for="description">Description</label>
          <textarea name="description" id="description" class="input-box" placeholder="Tell us about what you are selling"
            rows="10">{{description}}</textarea>
        </div>
        <div class="input-group">
          <label for="seller">Seller</label>
          <input type="email" name="contact_mail" id="contactemail" class="input-box" placeholder="Who are you?" value={{contact_email}}>
        </div>
        <input type="submit" value="Add Gig" class="btn btn-reverse">
      </form>
    </div>
  </section> --}}

  <section id="add" class="container">
    <div class="form-wrap">
      <h1>Add A Gig</h1>
      <p>Your contact email will be shared with registered users to apply to your gig</p>
      {{#each errors}}
        <div class="error">
          <p>{{text}}</p>
        </div>
      {{/each}}
      <form action="/gigs/add" method="POST">
        <div class="input-group">
          <label for="">Item</label>
          <input type="text" name="title" id="title" class="input-box" placeholder="What are you selling?"
            maxlength="100" value={{title}}>
        </div>
        <div class="input-group">
          <label for="technologies">Location</label>
          <input type="text" name="technologies" id="technologies" class="input-box" placeholder="Where are you?"
          maxlength="100" value={{technologies}}>
        </div>
        <div class="input-group">
          <label for="budget">Price</label>
          <input type="number" name="budget" id="budget" class="input-box" placeholder="$$$" value={{budget}}>
        </div>
        <div class="input-group">
          <label for="description">Description</label>
          <textarea name="description" id="description" class="input-box" placeholder="Tell us about what you are selling"
            rows="10">{{description}}</textarea>
        </div>
        <div class="input-group">
          <label for="budget">Contact Email</label>
          <input type="email" name="contact_email" id="contactemail" class="input-box" placeholder="Enter an email" value={{contact_email}}>
        </div>
        <input type="submit" value="Add Gig" class="btn btn-reverse">
      </form>
    </div>
  </section>